body
	> header
		h1
			$border: 5px solid white
			background-color: $color-main
			border-bottom: $border
			border-top: $border
			color: $color-page-title
			text-transform: uppercase
			font-size: 56px
			margin: 0
			padding: 60px 30px
			text-align: center
	> article
		max-width: 800px
		margin: 0 auto
		padding: 50px
		> h1
			margin-top: 0

nav,
footer
	background-color: $color-grey-lightest
	text-align: center

nav
	a
		color: $color-grey-darkest
		display: inline-block
		font-size: 20px
		padding: 10px 20px
		&.activa
			background-color: $color-grey-light
			color: white
		&:hover
			background-color: $color-grey-darkest
			color: white

footer
	padding: 50px
	a
		color: $color-grey-light
		margin: 0 30px
		font-size: 60px
		&:first-of-type
			margin-left: 0
		&:last-of-type
			margin-right: 0
		&:hover
			color: $color-main
			&:before
				color: white

%grid-item
	background-color: $color-grey-lightest
	border: 1px solid $color-grey-light
	@include border-radius(2px)
	color: $color-grey-darkest
	padding: 2%

.grid
	@include grid(5,1)
	li
		@extend %grid-item

// Menú Tabs
$color-tab-active: $flat-red-1
$color-tab-hover: $flat-red-2
$color-tab-inactive: white
$color-tab-border: $color-tab-hover

%reset-list
	margin: 0
	padding: 0
	li
		list-style: none

.menu-tab
	border: 1px solid $color-tab-border
	.menu-tab-options
		@extend %reset-list
		overflow: auto
		width: 100%
		li
			background-color: $color-tab-inactive
			color: $color-tab-hover
			float: left
			text-align: center
			&:hover
				background-color: $color-tab-hover
				color: white
				@include transition($transition)
			&.activa
				background-color: $color-tab-active
				color: white
			a
				color: inherit
				display: block
				font-weight: 700
				padding: 10px
	.menu-tab-content
		background-color: $color-tab-active
		color: white
		> *
			padding: 50px
			> *
				&:first-child
					margin-top: 0
				&:last-child
					margin-bottom: 0