extends templates/_page

block pageTitle
	h1 Mixin breakpoints

block pageContent
	p A continuación he colocado un cuadro que cambiará su color y el tamaño de su fuente utilizando el MIXIN Breakpoints.
	p Como puedes comprobar, con muy pocas líneas de código puedes tener controlado el comportamiento de tus objetos acorde a los breakpoints que hayas declarado.

	div.breakpoints-box
		| Redimensióname