extends templates/_page

block pageTitle
	h1 Fancybox

block pageContent
	article
		section
		h2 Fancybox
		p Campo de pruebas de Fancybox en su versión 2.1.5
		a.btn-lrg.fancybox(href='modals/modal-1.html', data-fancybox-type='ajax') Fancybox tipo Ajax
		a.btn-lrg.fancybox(href='http://vodafone.es', data-fancybox-type='iframe') Fancybox tipo Iframe