extends templates/_fullwidth

block pageTitle
	h1 Iframe

block pageContent
	article
		section
		h2 Iframe
		p El objetivo de la investigación es:
		ul
			li Poder medir la altura de un objeto iframe externo
			li Lograr que dicho iframe tenga un comportamiento responsive al redimensionar la ventana

	- var url = 'http://www.vodafone.es/static/microsites/familia_red_particulares/index.html'
	//- - var url = 'http://www.google.es'
	//- - var url = 'http://www.elmundo.es'

	each iframe, i in [1, 2, 3]
		- index = i + 1
		div(id='iframe-#{index}')
			div(class='marcado-extra')
				div(class='marcado-extra-2')
					div(class='marcado-extra-3')
						iframe(src='#{url}' frameborder='0' scrolling='no' width='100%')