extends templates/_page

block pageTitle
	h1 Bienvenido

block pageContent
	h1 Bienvenido a Lemonade
	p Lemonade es una estructura de proyecto inicial para desarrollo Frontend. El objetivo es facilitar el inicio de nuevos proyectos, ofreciéndote una base sólida, potente y flexible sobre la que poder hacer que tus ideas se hagan realidad.
	p Lemonade utiliza dos potentes preprocesadores que lo harán todo más sencillo:
	ul
		li JADE
		li SASS
	p Espero que el proyecto te sea de utilidad.
	p ¡Un abrazo!