doctype html
html(lang='es')
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')

		title Lemonade

		meta(name='description', content='Limonada fresquita, para los calores del verano')
		meta(name='viewport', content='width=device-width, initial-scale=1')

		//- CSS
		each css in ['main']
			link(rel='stylesheet', href='../css/#{css}.css', type='text/css')

		//- Javascripts
		each js in ['http://code.jquery.com/jquery-1.11.3.min.js', '../js/script.min.js']
			script(src='#{js}', type='text/javascript')
				
	include _lorem

	body
		header
			nav
		article
			h1 Título de prueba
			div.felicidad 
				h2 A continuación unos párrafos aleatorios
				each parrafo in [12, 38, 52, 41, 25, 16, 37, 28, 29, 23]
					p
						mixin lipsum(parrafo, 'sentences')
		footer
