extends templates/_page

block pageTitle
	h1 Lightbox

block pageContent
	section.lightbox
		p Este es el Lightbox de Lemonade. Se trata de un moderno y ligero sistema para superponer capas de información sobre tu contenido principal.
		p No busques Javascript, que no hay.
		ul
			- lightbox1 = {}
			each lanzador, i in [1, 2, 3, 4]
				li
					label(for='lightbox-#{i + 1}') Lightbox #{i + 1}
					input(type='radio' id='lightbox-#{i + 1}' name='lightbox')
					div.overlay
						h2 Lightbox #{i + 1}
						each parrafo in [12, 25, 15, 21, 18, 12]
							p
								mixin lipsum(parrafo, 'sentences')
						label(for='close' title='Cerrar lightbox') Cerrar
		input(type='radio' id='close' name='lightbox')