extends templates/_page

block pageTitle
	h1 Menú Tab JS

block pageContent
	div.menu-tab
		ul.menu-tab-options
			- opcion1 = {name: 'Pestaña 1', title: 'Pestaña 1'}
			- opcion2 = {name: 'Pestaña 2', title: 'Pestaña 2'}
			- opcion3 = {name: 'Pestaña 3', title: 'Pestaña 3'}
			- opcion4 = {name: 'Pestaña 4', title: 'Pestaña 4'}
			- opcion5 = {name: 'Pestaña 5', title: 'Pestaña 5'}
			- tabs = [opcion1.name, opcion2.name, opcion3.name, opcion4.name, opcion5.name]
			each tab in tabs
				li
					a(href='#') #{tab}

		div.menu-tab-content
			- contents = [opcion1.title, opcion2.title, opcion3.title, opcion4.title, opcion5.title]
			each content, i in contents
				div 
					h1 #{content}
					each parrafo in [12, 25, 15, 21, 18]
						p
							mixin lipsum(parrafo, 'sentences')