// Botones
=boton($size: medium, $type: normal)
	display: inline-block
	
	// Tamaños
	$buttons: large $btn-large, medium $btn-medium, small $btn-small
	
	@each $button in $buttons
		$name: nth($button, 1)
		$value: nth($button, 2)
		
		@if $size == $name
			font-size: $value
			padding: $value $value * $btn-coeficiente

	// Tipo | Normal
	@if $type == normal
		background-color: $color-grey-light
		color: $color-light
		&:hover
			background-color: $color-sec
			color: $color-light
		
	// Tipo | Con borde
	@if $type == borde
		background-color: $color-grey-lightest
		border-color: $color-grey-light
		border-style: solid
		border-width: 2px
		color: $color-grey-dark
		&:hover
			background-color: $color-sec
			border-color: $color-sec-dark
			color: $color-light