// Breakpoints
$break-desk-xl: 1600px
$break-desk-l: 1200px
$break-desk-m: 992px
$break-desk-s: 800px
$break-mob-xl: 767px
$break-mob-l: 480px
$break-mob-m: 360px
$break-mob-s: 320px

// Mixin Responsive
=respond-to($media)
  @if $media == desk-xl
    @media only all and (max-width: $break-desk-xl)
      @content
  @else if $media == desk-l
    @media only all and (max-width: $break-desk-l)
      @content
  @else if $media == desk-m
    @media only all and (max-width: $break-desk-m)
      @content
  @else if $media == desk-s
    @media only all and (max-width: $break-desk-s)
      @content
  @else if $media == mob-xl
    @media only all and (max-width: $break-mob-xl)
      @content
  @else if $media == mob-l
    @media only all and (max-width: $break-mob-l)
      @content
  @else if $media == mob-m
    @media only all and (max-width: $break-mob-m)
      @content
  @else if $media == mob-s
    @media only all and (max-width: $break-mob-s)
      @content
