- var portada = {nombre: 'Home', archivo: 'index'}
- var lorem = {nombre: 'Lorem Ipsum', archivo: 'lorem'}
- var grid = {nombre: 'Grid', archivo: 'grid'}
- var tab = {nombre: 'Tabs', archivo: 'tab'}
- var breakpoints = {nombre: 'Breakpoints', archivo: 'breakpoints'}
- var botones = {nombre: 'Botones', archivo: 'botones'}
- var lightbox = {nombre: 'Lightbox', archivo: 'lightbox'}
- var iframe = {nombre: 'Iframe', archivo: 'iframe'}
- var fancybox = {nombre: 'Fancybox', archivo: 'fancybox'}
- var swiper = {nombre: 'Swiper', archivo: 'swiper'}
- var focus = {nombre: 'Focus Tab vs Click', archivo: 'focus'}
- var sticky = {nombre: 'Sticky notice', archivo: 'sticky'}
- var excerpt = {nombre: 'Excerpt', archivo: 'excerpt'}
- var indent = {nombre: 'Indent', archivo: 'indent'}
each pagina in [portada, botones, iframe, fancybox, swiper, focus, sticky, excerpt, indent]
	a(href='#{pagina.archivo}.html') #{pagina.nombre}