- var portada = {nombre: 'Home', archivo: 'index'}
- var lorem = {nombre: 'Lorem Ipsum', archivo: 'lorem'}
- var grid = {nombre: 'Grid', archivo: 'grid'}
- var tab = {nombre: 'Tabs', archivo: 'tab'}
- var breakpoints = {nombre: 'Breakpoints', archivo: 'breakpoints'}
- var botones = {nombre: 'Botones', archivo: 'botones'}
each pagina in [portada, lorem, grid, tab, breakpoints, botones]
	a(href='#{pagina.archivo}.html') #{pagina.nombre}