- var portada = {nombre: 'Home', archivo: 'index'}
- var lorem = {nombre: 'Lorem Ipsum', archivo: 'lorem'}
- var grid = {nombre: 'Grid', archivo: 'grid'}
- var tab = {nombre: 'Tabs', archivo: 'tab'}
each pagina in [portada, lorem, grid, tab]
	a(href='#{pagina.archivo}.html') #{pagina.nombre}